<h1>Editando Curso <%= Year.current.to_s %></h1>

<%= render :partial => 'form' %>

<%  link_to years_path, :class=>"button" do%>
  <span class="home icon"></span><span>Volver al listado</span>
<%end%>