<br/>
<h1>Nuevo Examen</h1>

<%= render :partial => 'form' %>

 <%  link_to signature_part_exams_path(@signature, @part), :class=>"pill button" do%>
  <span class="home icon"></span><span>Volver al listado</span>
<%end%>
