<br/>
<h1>Editando asignatura</h1>

<%= render :partial => 'form' %>

<% link_to @signature ,:class =>"left pill button" do %>
  <span class="magnifier icon"></span><span>Mostrar</span>
<% end %>
<%  link_to signatures_path, :class=>"right pill button" do%>
  <span class="home icon"></span><span>Volver al listado</span>
<%end%>