<h1>Listado de Asignaturas</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Profesores</th>
  </tr>

<% @signatures.each do |signature| %>
  <tr class="<%= cycle('impar', 'par') %>">
    <td><%=h signature.name %></td>
    <td><%=h signature.teacher_names(@year_selected.id).to_sentence %></td>
<td>
    <% unless current_user.is_a? Administrator %>
      <% link_to signature ,:class =>"button" do %>
        <span class="magnifier icon"></span><span>Mostrar</span>
      <% end %>
    <% end %>
  <% if current_user.is_a? Administrator %>
    <%link_to signature ,:class =>"left primary pill button" do%>
      <span class="magnifier icon"></span><span>Mostrar</span>
    <%end%>
    <%  link_to edit_signature_path(signature), :class=>"middle pill button" do%>
      <span class="pen icon"></span><span>Modificar</span>
    <%end%>
    <%link_to signature ,:confirm => '¿Estás seguro?', :method => :delete ,:class =>"right negative pill button" do%>
      <span class="cross icon"></span><span>Eliminar</span>
    <%end%>
</td>
  <% end %>
  </tr>
<% end %>
</table>

<br />
<% if current_user.is_a? Administrator %>
  <%link_to new_signature_path ,:class=>"button" do%>
    <span class="plus icon"></span><span>Nueva Asignatura</span>
  <%end%>

<%end%>