<br/>
<h1>Listado de Asignaturas</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Profesores</th>
  </tr>

<% @signatures.each do |signature| %>
  <tr class="<%= cycle('impar', 'par') %>">
    <td><%=h signature.name %></td>
    <td><%=truncate h(signature.teacher_names(@year_selected.id).to_sentence) %></td>
    <td class="botones">
    <% unless current_user.is_a? Administrator %>
      <% link_to signature ,:class =>"pill button" do %>
        <span class="magnifier icon"></span><span>Mostrar</span>
      <% end %>
    <% end %>
  <% if current_user.is_a? Administrator %>
    <%link_to signature ,:class =>"left pill button" do%>
      <span class="magnifier icon"></span><span>Administrar asignatura</span>
    <%end%>
    
    <%link_to signature ,:confirm => '¿Estás seguro?', :method => :delete ,:class =>"right negative pill button" do%>
      <span class="trash icon"></span><span>Eliminar</span>
    <%end%>
</td>
  <% end %>
  </tr>
<% end %>
</table>

<br />
<% if current_user.is_a? Administrator %>
  <%link_to new_signature_path ,:class=>"pill button" do%>
    <span class="plus icon"></span><span>Nueva Asignatura</span>
  <%end%>

<%end%>