<h1>Datos de la Asignatura</h1>

<br/>
<p>
  <b><h2>Nombre: <%=h @signature.name %></h2></b>

</p>

<% if current_user.is_a? Administrator %>
  <%= link_to 'Modificar', edit_signature_path(@signature) %> |
<%end%>
<%= link_to 'Volver al listado', signatures_path %>

<br />
<br />
<br />
<%= render "show_#{current_user.type.to_s.underscore}" %>
