<h1>Datos de la Asignatura</h1>

<br/>
<p>
  <b><h2>Nombre: <%=h @signature.name %></h2></b>

</p>
<br />

<% if current_user.is_a? Administrator %>
  <%  link_to edit_signature_path(@signature), :class=>"pill button" do%>
    <span class="pen icon"></span><span>Modificar</span>
  <%end%>
<%end%>


<br />


<%= render "show_#{current_user.type.to_s.underscore}" %>

<br />
<br />
<br />

<% link_to signatures_path, :class=>"pill button" do%>
  <span class="home icon"></span><span>Volver al listado</span>
<%end%>