<h1>Listado de Profesores</h1>

<table>
  <tr>
    <th>Login</th>
    <th>Email</th>
    <th>Nombre</th>
  </tr>

<% @teachers.each do |teacher| %>
  <tr class="<%= cycle('impar', 'par') %>">
    <td><%=h teacher.login %></td>
    <td><%=h teacher.email %></td>
    <td><%=h teacher.name %></td>
    <td><%link_to teacher ,:class =>"left primary pill button" do%>
      <span class="magnifier icon"></span><span>Mostrar</span>
    <%end%>
    <% if current_user.is_a? Administrator %>
      <%  link_to edit_teacher_path(teacher), :class=>"middle pill button" do%>
        <span class="pen icon"></span><span>Modificar</span>
      <%end%>
    <% elsif current_user==teacher %>
      <%  link_to edit_teacher_path(teacher), :class=>"right negative pill button" do%>
        <span class="key icon"></span><span>Cambiar contraseña</span>
      <%end%>
    <%end%>
    <% if current_user.is_a? Administrator %>
      <%link_to teacher ,:confirm => '¿Estás seguro?', :method => :delete ,:class =>"right negative pill button" do%>
      <span class="cross icon"></span><span>Eliminar</span>
    <%end%>
    </td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<% if current_user.is_a? Administrator %>
  <%link_to new_teacher_path ,:class=>"button" do%>
    <span class="user icon"></span><span>Nuevo profesor</span>
  <%end%>

<%end%>