<% form_for(@degree) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name , 'Nombre' %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <button class="pill button"><span class="check icon"></span>Guardar</button>
  </p>
<% end %>