<br/>
<h1>Editando Titulación</h1>

<%= render :partial => 'form' %>

<%link_to @degree ,:class =>"left pill button" do%>
 <span class="magnifier icon"></span><span>Mostrar</span>
<%end%>
<%  link_to degrees_path, :class=>"right pill button" do%>
  <span class="home icon"></span><span>Volver al listado</span>
<%end%>