<br/>
<h1>Mostrar titulaciones</h1>

<br/>

<h3>
  <b>Nombre:</b>
  <%=h @degree.name %>
</h3>

<br/>
<br/>

<% link_to edit_degree_path(@year), :class=>"left pill button" do%>
  <span class="pen icon"></span><span>Modificar</span>
<%end%>
<%  link_to degrees_path, :class=>"right pill button" do%>
  <span class="home icon"></span><span>Volver al listado</span>
<%end%>