<br/>
<h1>Editando Bloque</h1>

<%= render :partial => 'form' %>

<%link_to signature_part_path(@signature, @part), :class =>"left pill button" do%>
  <span class="magnifier icon"></span><span>Mostrar</span>
<%end%>
<% link_to signature_parts_path(@signature, :ordinary=>@ordinary, :parent_id=>@parent), :class=>"right pill button" do%>
  <span class="home icon"></span><span>Volver al listado</span>
<%end%>