<br/>
<h1>Nuevo bloque</h1>

<%= render :partial => 'form' %>

<%  link_to signature_parts_path(@signature, :ordinary=>@ordinary, :parent_id=>@parent), :class=>"button" do%>
  <span class="home icon"></span><span>Volver al listado</span>
<%end%>

