body {
    color: #fff;
    text-align: center;
    background-color: gainsboro;
}

div.pagina {
    display: block;
    float: none;
    margin: 0 auto;
    width: 1320px;
    padding: 10px;
    background-color: #fff;
   
    color: #333;
    padding-bottom: 80px;
    padding-left: 80px;
   position: relative;
   
}
div.derecha
{

    right: 120px;
    position: absolute;
 

}
div.contacto
{
   right: 120px;
   position: absolute;
   bottom: -60px;
}

div.p
{
    position: absolute;
    right: 410px;
}
#user-bar-greeting
{
    padding-bottom: 5px;
}
#user-bar-action
{
    padding-bottom: 5px;
}

div.pagina, p, ol, ul, td,.contacto {
    text-align: justify;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size:   13px;
    line-height: 18px;
}

p { padding-left: 0; padding-right: 0; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

h1.cabecera {
    padding-bottom: 50px;
}

h4.pie {
   padding: 50px 350px;
    float:none;
    position: relative;
}

.flash {
    font-size: 14px;
}

.flash.notice { color: green; }
.flash.error { color: red; }

tr.impar { background-color: #E8EBF0; }
tr.par { background-color:ghostwhite; }
tr.impar td, tr.par td { padding: 2px 5px; }









#menu {
border-bottom : 1px solid #ccc;
margin : 0;
padding-bottom : 19px;
padding-left : 10px;
}

#menu ul, #menu li {
display : inline;
list-style-type : none;
margin : 0;
padding : 0;
}

#menu a:link, #menu a:visited {
background : #E8EBF0;
border : 1px solid #ccc;
color : #666;
float : left;
font-size : small;
font-weight : normal;
line-height : 14px;
margin-right : 8px;
padding : 2px 10px 2px 10px;
text-decoration : none;
}

#menu a:link.active, #menu a:visited.active {
background : #fff;
border-bottom : 1px solid #fff;
color : #000;
}

#menu a:hover {
color : #f00;
}

body.section-1 #menu li#nav-1 a,
body.section-2 #menu li#nav-2 a,
body.section-3 #menu li#nav-3 a,
body.section-4 #menu li#nav-4 a {
background : #fff;
border-bottom : 1px solid #fff;
color : #000;
}


#menu ul a:hover {
color : #f00 !important;
}

#contents {
background : #fff;
border : 1px solid #ccc;
border-top : none;
clear : both;
margin : 0px;
padding : 15px;
} 